<!--Indica version de HTML del documento y idioma (español)-->
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nuevo Producto</title>
  <!-- Tailwind CSS Link -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.1/tailwind.min.css">
  <!-- Fontawesome Link -->
  <link href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>

<div class="block mx-auto my-12 p-8 bg-white w-1/3 border border-gray-200 rounded-lg
    shadow-lg text-gray-800 rounded-3xl">

  <div class="d-flex justify-content-center">
    <!--<img src="https://cdn.icon-icons.com/icons2/2483/PNG/512/user_icon_149851.png" alt="" style="height: 7rem;">-->
    <i class="fa-solid fa-cart-shopping fa-2xl" style="color: #06255b;"></i>
  </div>

  <!--titulo del container-->
  <h1 class="text-2xl font-bold text-center">Nuevo Producto</h1>

  <!--post sirve para introducir los parámetros en la solicitud HTTP para el servidor.(no quedan visibles para el usuario).-->
  <form action="" method="post" class="mt-4">
    <!--cuadro de texto paa que el usuario esciba el nombre del aticulo-->
    <label for="">Nombre del Articulo</label>
    <input type="text" name="name" placeholder="Nombre del Articulo" class="border border-gray-200 w-full text-lg placeholder-gray-500 p-2 my-2 
            bg-gray-300 focus:bg-white rounded-3xl" required>
    <!--required sirve para que no se pueda enviar el formulario sin estar previamente los campos contestados -->

    <!--cuadro de texto para que el usuario escriba el numero del articulo dependiendo de la base de datos
            (1="Venta directa",2="Preparado",3="Insumo",(no se puede escribir mas del numero 3))-->
    <label for="">Tipo de Articulo</label>
    <select name="tipo_art" class="order border-gray-200 w-full text-lg placeholder-gray-500 p-2 my-2 bg-gray-300 focus:bg-white rounded-3xl" required>
      <option disabled>Seleccione el tipo de articulo</option>
      {{#each pers}}
      <option value="{{tipo_art}}">{{descripcion}}</option>
      {{/each}}
    </select>
    {{!-- <input type="number" name="tipo_art" placeholder="Tipo de Articulo" class="border border-gray-200 w-full text-lg placeholder-gray-500 p-2 my-2 
            bg-gray-300 focus:bg-white rounded-3xl" min="1" max="3" maxlength="1"
      oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" required> --}}


    <!--cuadro de texto para escibir el precio del articulo (solo se pueden numeros)-->
    <label for="">Precio</label>
    <input type="text" name="precio" placeholder="Precio" class="border border-gray-200 w-full text-lg placeholder-gray-500 p-2 my-2 
            bg-gray-300 focus:bg-white rounded-3xl" pattern="[0-9]+" min="1" required>

    <!--cuadro de texto para escibir el costo del articulo (solo se pueden numeros)-->
    <label for="">Costo</label>
    <input type="text" name="costo" placeholder="Costo" class="border border-gray-200 w-full text-lg placeholder-gray-500 p-2 my-2 
            bg-gray-300 focus:bg-white rounded-3xl" pattern="[0-9]+" required>

    <!--cuadro de texto para escibir el precio de la unidad (solo se pueden numeros)-->
    <label for="">Unidad</label>
    <select name="unidad" class="order border-gray-200 w-full text-lg placeholder-gray-500 p-2 my-2 bg-gray-300 focus:bg-white rounded-3xl" required>
      <option disabled>Seleccione la unidad</option>
      {{#each per}}
      <option value="{{unidad}}">{{description}}</option>
      {{/each}}
    </select>
    <!--<input type="text" name="unidad" placeholder="Unidad" class="border border-gray-200 w-full text-lg placeholder-gray-500 p-2 my-2 
            bg-gray-300 focus:bg-white rounded-3xl" pattern="[0-9]+" required>-->

    <!--Boton para enviar el formulario contestado correctamente previamente-->
    <button type="submit" class="rounded-md bg-yellow-800 w-full text-lg text-white 
            font-semibold p-2 my-3 hover:bg-yellow-900 focus:bg-yellow-900">Agregar Producto</button>

    <!--Imprime error al usuario en la parte inferior de el container-->
    {{#if error}}
    <p class="text-red-500 font-bold text-lg my-3 ">{{error}}</p>
    {{/if}}

  </form>

</div>

</html>
<!--se cieran las etiquetas-->